<h1>StaticPages#about</h1>
<p>Find me in app/views/static_pages/about.html.erb</p>

<%= render 'partial_test' %><br>
<!-- located: views/static_pages/_partial_test.html.erb -->
<%= render 'shared/shared_partial' %>
<!-- located: views/shared/_shared_partial.html.erb -->