<h1>test app</h1>
<p>Find me in app/views/static_pages/index.html.erb</p>

<%= image_tag("indexImage.jpg", class: "img-responsive") %>

<%= link_to "Featured Items", static_pages_landing_page_path %><br>
<%= link_to "Death Valley", product_path(1) %>
