/* line 7, /Users/edward/Desktop/mytestapp/app/assets/stylesheets/products.scss */
#product_style h1 {
  color: black;
}

/* line 11, /Users/edward/Desktop/mytestapp/app/assets/stylesheets/products.scss */
#product_style p {
  font-style: italic;
  color: gray;
}

/* line 16, /Users/edward/Desktop/mytestapp/app/assets/stylesheets/products.scss */
.oneline {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* line 25, /Users/edward/Desktop/mytestapp/app/assets/stylesheets/products.scss */
#product_show h2 {
  text-align: center;
  font-family: cursive;
}

/* line 30, /Users/edward/Desktop/mytestapp/app/assets/stylesheets/products.scss */
#product_show .right_col {
  text-align: right;
}
/* line 1, /Users/edward/Desktop/mytestapp/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 10, /Users/edward/Desktop/mytestapp/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 16, /Users/edward/Desktop/mytestapp/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 22, /Users/edward/Desktop/mytestapp/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 25, /Users/edward/Desktop/mytestapp/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 29, /Users/edward/Desktop/mytestapp/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 35, /Users/edward/Desktop/mytestapp/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 39, /Users/edward/Desktop/mytestapp/app/assets/stylesheets/scaffolds.scss */
td {
  padding: 0 5px 7px;
}

/* line 44, /Users/edward/Desktop/mytestapp/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 49, /Users/edward/Desktop/mytestapp/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 53, /Users/edward/Desktop/mytestapp/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 59, /Users/edward/Desktop/mytestapp/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 66, /Users/edward/Desktop/mytestapp/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}
/* line 76, /Users/edward/Desktop/mytestapp/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 82, /Users/edward/Desktop/mytestapp/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}
/* line 5, /Users/edward/Desktop/mytestapp/app/assets/stylesheets/static_pages.scss */
h1 {
  color: green;
}

/* line 9, /Users/edward/Desktop/mytestapp/app/assets/stylesheets/static_pages.scss */
.thank-you p {
  color: gray;
  font-style: italic;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */


h1 {
	color: orange;
}

/* adjust padding if alerts & notices show up behind navbar */
.alert, .notice {
	padding-top: 50px;
}




/* Pagination */
.digg_pagination {
	background: white;
	cursor: default;
/* self-clearing method: */ 
}
.digg_pagination a, .digg_pagination span, .digg_pagination em {
	padding: 0.2em 0.5em;
	display: block;
	float: left;
	margin-right: 1px; 
}
.digg_pagination .disabled {
	color: #999999;
	border: 1px solid #dddddd; 
}
.digg_pagination .current {
	font-style: normal;
	font-weight: bold;
	background: #2e6ab1;
	color: white;
	border: 1px solid #2e6ab1; 
}
.digg_pagination a {
	text-decoration: none;
	color: #105cb6;
	border: 1px solid #9aafe5; 
}
.digg_pagination a:hover, .digg_pagination a:focus {
	color: #000033;
	border-color: #000033; 
}
.digg_pagination .page_info {
	background: #2e6ab1;
	color: white;
	padding: 0.4em 0.6em;
	width: 22em;
	margin-bottom: 0.3em;
	text-align: center; 
}
.digg_pagination .page_info b {
	color: #000033;
	background: #6aa6ed;
	padding: 0.1em 0.25em; 
}
.digg_pagination:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden; 
}
* html .digg_pagination {
	height: 1%; 
}
*:first-child + html .digg_pagination {
	overflow: hidden; 
}
