<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" id="product_style">
	<div class = "thumbnail">
		<h1><%= link_to product.name, product %></h1>

		<%= link_to product do %>
			<%= image_tag(product.image_thumb, class: "img-responsive") %>
			<%#= image_tag(product.image_url, class: "img-responsive") %>
		<% end %>

		<p class="oneline"><%= product.description %></p>

	</div>
</div>